* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-top {
  z-index: 2000;
  top: 10px;
  right: 50px;
  position: absolute;
}

.nav-top ul {
  margin: 0;
  padding: 0;
  list-style: none;

  gap: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-top a {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
}

.nav-top a::after {
  content: '';
  width: 0;
  bottom: -5px;
  left: 0;

  height: 2px;
  position: absolute;

  background: #4facfe;

  transition: width 0.4s ease;
}

.nav-top a:hover::after {
  width: 100%;
}

.nav-top a:hover {
  transform: scale(1.05);
}

body {
  background: linear-gradient(1100deg, black, rgb(4, 0, 73), black);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
