* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    right: 50px;
    top: 20px;
    z-index: 1000;
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;

    list-style: none;
    gap: 20px;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

nav a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -5px;

    height: 2px;
    width: 0;
    background: #4facfe;

    transition: width 0.4s ease;
}

nav a:hover::after {
    width: 100%;
}

body {
    background: linear-gradient(1100deg, black, rgb(4, 0, 73), black);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    margin: 0;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 500px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container input {
    padding: 8px;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: black;
}

.input-container input:focus {
    outline: 2px solid #4facfe;
}


select {
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
}

.outras-opcoes {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 30%;
    text-decoration: none;
}

.outras-opcoes:hover {
    color: #3593e6;
    text-decoration: underline;
}

.logo {
    width: 180px;
    top: 10px;
    left: 10px;
    position: absolute;
    transition: 0.5s;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

.botao-recuperar {
    margin-top: 10px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #4facfe, #00c6ff);
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.botao-recuperar a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.botao-recuperar:hover {
    transform: scale(1.05);
    background: linear-gradient(#3593e6);
}