* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 50px;
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;

    gap: 20px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

nav a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0;
    background: #4facfe;
    height: 2px;

    transition: width 0.4s ease;
}

nav a:hover::after {
    width: 100%;
}

.logo {
    width: 180px;
    top: 10px;
    left: 10px;
    position: fixed;
    cursor: pointer;

    transition: 0.5s;
}

.logo:hover {
    transform: scale(1.1);
}

body {
    background: linear-gradient(1100deg, black, rgb(4, 0, 73), black);
    background-repeat: no-repeat;
    background-size: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

h1,h3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
}

.area-do-cliente {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    gap: 200px;
}

.card {
    width: 250px;
    height: 250px;
    background: linear-gradient( rgb(0, 0, 0), rgb(0, 0, 0, 0.7), rgb(4, 0, 73), rgb(0, 0, 0, 0.7), black);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    border-right: 2.5px solid #4facfe;
    border-bottom: 2.5px solid #4facfe;
}

.card:hover {
    transform: scale(1.05);
}