* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-top {
  z-index: 2000;
  top: 10px;
  right: 50px;
  position: relative;
}

.nav-top ul {
  list-style: none;
  gap: 20px;
  margin: 0;

  padding: 0;
  justify-content: flex-end;
  display: flex;
}

.nav-top a {
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-weight: 400px;
  display: inline-block;
  color: white;
}

.nav-top a::after {
  content: '';
  width: 0;
  left: 0;
  position: fixed;

  height: 2px;
  bottom: -5px;

  background: #4facfe;

  transition: width 0.4s ease;
}

.nav-top a:hover::after {
  width: 100%;
}

.nav-top a:hover {
  transform: scale(1.05);
}

.logo {
  width: 180px;
  position: absolute;
  cursor: pointer;
  transition: 0.5s;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-main {
  z-index: 2000;
  top: 50px;
  left: 10px;
  position: fixed;
  width: 1345px;
  background-color: rgb(0, 0, 0, 0.7);
  height: 15vh;
}

.nav-main label {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  justify-content: center;
  display: inline-block;
  left: 300px;
  bottom: 10px;
}

body {
  background: linear-gradient(1100deg, black, rgb(4, 0, 73), black);
  background-repeat: no-repeat;
  height: 100vh;
}
